

  <ion-card>
    <ion-card-header>
<!--      <ion-card-subtitle><a href="https://material.angular.io/">XAM XAM </a></ion-card-subtitle>-->
      <ion-card-title class="top">

      </ion-card-title>

      <img mat-card-image src="assets/Unknown.jpg" alt="khassida">

    </ion-card-header>

    <ion-card-content>

      <ion-label class="ion-text-wrap">

      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item [routerLink]="['/quran']" detail>
      <ion-icon   name="book" size="small">  </ion-icon>
      <ion-label class="espace" >
        AL-QURAN
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mat-grid']" detail>
      <ion-icon name="musical-notes" size="small"></ion-icon>
      <ion-label class="espace">
        KHASSIDAS
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mat-input']" detail>
      <ion-icon name="bookmark" size="small"></ion-icon>
      <ion-label class="espace">
        KHASSIDAS PDF
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mat-drag-drop']" detail>
      <ion-icon name="people" size="small"></ion-icon>
      <ion-label class="espace">
        WAXTAANES
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/expansion']" detail>
      <ion-icon name="document" size="small"></ion-icon>

      <ion-label class="espace">
        XAM XAM
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mat-stepper']" detail>
      <ion-icon name="musical-note" size="small"></ion-icon>
      <ion-label class="espace">
        ZIKROULAHI
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/mat-sort-header']" detail>
      <ion-icon name="information" size="small"></ion-icon>
      <ion-label class="espace">
        ACTUALITES
      </ion-label>
    </ion-item>

    <ion-item [routerLink]="['/mat-table']" detail>
      <ion-icon name="call" size="small"></ion-icon>
      <ion-label class="espace">
        CONTACT
      </ion-label>
    </ion-item>
    <ion-item [routerLink]="['/mat-table']" detail>
      <ion-icon name="card" size="small"></ion-icon>
      <ion-label class="espace">
        HADIYEU
      </ion-label>
    </ion-item>
  </ion-list>



