





<div class="categories" >

  <mat-card class="example-card" >
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">

      </div>

    </mat-card-header>
    <img mat-card-image [src]="item.image" >
    <p class="ion-no-margin ion-align-items-center">{{item.quranReadername}}</p>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      <!-- <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> -->
    </mat-card-actions>
  </mat-card>


 <!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>
    <img mat-card-image src="assets/abdul-rahman-al-sudais.png" alt="maher">
    <p class="ion-no-margin ion-align-items-center">abdul-rahman-al-sudais</p>

    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      &lt;!&ndash; <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> &ndash;&gt;
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>
    <img mat-card-image src="assets/abdelbasset-abdessamad.png" alt="maher">
    <p class="ion-no-margin ion-align-items-center">abdelbasset-abdessamad</p>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      &lt;!&ndash; <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> &ndash;&gt;
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>
    <img mat-card-image src="assets/saad-el-ghamidi.png" alt="maher">
    <p class="ion-no-margin ion-align-items-center">saad-el-ghamidi</p>

    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      &lt;!&ndash; <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> &ndash;&gt;
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>
    <img mat-card-image src="assets/mahmoud-khalil-al-hussary.png" alt="maher">
    <p class="ion-no-margin ion-align-items-center">mahmoud-khalil-al-hussary</p>

    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      &lt;!&ndash; <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> &ndash;&gt;
    </mat-card-actions>
  </mat-card>


  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

    </mat-card-header>
    <img mat-card-image src="assets/mishary-rashid-alafasy.png" alt="maher">
    <p class="ion-no-margin ion-align-items-center">mishary-rashid-alafasy</p>

    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
      &lt;!&ndash; <button mat-button>LIKE</button>
          <button mat-button>SHARE</button> &ndash;&gt;
    </mat-card-actions>
  </mat-card>-->



</div>


