
<app-acceuil></app-acceuil>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="schedule">
      <ion-icon name="calendar"></ion-icon>
      <ion-label>Schedule</ion-label>
      <ion-badge>6</ion-badge>
    </ion-tab-button>

    <ion-tab-button tab="speakers">
      <ion-icon  class="youtube" name="logo-youtube"></ion-icon>
      <ion-label>Youtube</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon class="facebook" name="logo-facebook"></ion-icon>
      <ion-label>Facebook</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon  class="whatsapp" name="logo-whatsapp"></ion-icon>
      <ion-label>WhatsApp</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
